<div class="hero-detail-container">
  <button class="close-button" (click)="onClose()">X</button>
  
  <div class="hero-header">
    <h2 class="hero-title">{{hero.name}}</h2>
    <p class="hero-subtitle">{{hero.class}}</p>
  </div>
  
  <div class="action-buttons">
    <button class="btn-primary" (click)="onCharacterInventoryClicked()">Show Inventory</button>
    <button class="btn-primary" (click)="onCharacterSheetClicked()">Show Stats</button>
    <button class="btn-primary" (click)="onLevelUpClicked()">Level up</button>
  </div>

  <div> 
    @if (levelUpClicked) {
      <app-level-up (closedLevelUp)="onCloseLevelUp()"> </app-level-up>
    }
    
  </div>
  
  <div class="content-area">
    <app-character-sheet *ngIf="characterSheetClicked" [hero]="hero"></app-character-sheet>
    <app-inventory *ngIf="characterInventoryClicked" [inventory]="hero.inventory"></app-inventory>
  </div>
</div>